@tailwind base;
@tailwind components;
@tailwind utilities;

/* __layout.svelte */

html {
    height: 100%;
}

body {
    background-color: #F8F8FF;
}

.navbar {
    /* background-color: #E5E6E6; */
    width: 80%;
    margin: 0px auto;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px; 
}

.logo {
    margin-left: 30px;
}

.home_button {
   margin-right: 20px; 
}

.chap_button {
    margin-left: 20px;
}

/* index.svelte */

.home {
    height: 100%;
}

.home-footer {
    position: absolute;
    bottom: 0;
}

/* hcm15.svelte */

.table_p td {
    width: 100px;
}

.table_img td {
    position: relative;
    height: 80px;
    word-wrap: break-word;
}

.table_img td img {
    position: absolute;
    max-width: none;
    top: 0;
}

.hcm15-footer {
    position: absolute;
    bottom: -50;
}